In [27]:
list_1 = [1 , 2, 3, "depi" , "leanring" , True , ['ds','ml' 'mm']]
list_1

[1, 2, 3, 'depi', 'leanring', True, ['ds', 'mlmm']]

In [45]:
list_1.insert(0,"mohamed")
print(list_1)

['mohamed', 'mohamed', 'mohamed', 'mohamed', 'mohamed', 'mohamed', 'mohamed', 'mohamed', 'mohamed', 'mohamed', 'mohamed', 'mohamed', 'mohamed', 'mohamed', 'mohamed', 'mohamed', 'mohamed', 'mohamed', 1, 2, 3, 'depi', 'leanring', True, ['ds', 'mlmm']]

In [46]:
list_1 = [1 , 23 , 25]
list_2 = [1 , 12 , 24 ]
print(list_1 + list_2)

[1, 23, 25, 1, 12, 24]

In [48]:
list_1.extend(list_2)
print(list_1)

[1, 23, 25, 1, 12, 24, 1, 12, 24]

In [59]:
list_1 = [1 , 5  , 1 ,  23 , 25] 
list_1.remove(1)
print(list_1)

[5, 1, 23, 25]

In [63]:
list_1 = [1 ,  0 , 23 , 25] 
list_1
print(list_1)
del list_1[0 : 2]
print(list_1)

[1, 0, 23, 25]
[23, 25]

In [69]:
name  = input("enter your name ")
ib = input("enter your id")
print ( f"your name {name} and your age {id}")

your name n and your age <built-in function id>

In [68]:
name = input("enter your name ")
ib = input("enter your id ")

print(f"your name {name} and your id {ib}")

your name nvcvm and your id vvvv

In [77]:
list_22 = ["amit" , "learning" , "py" , "ml"]
list_del = input("enter your num")
list_22.remove(list_del)
print(list_22)

['amit', 'learning', 'ml']

In [92]:
list_3 = [1 , 1  ,3 , 4]
#print(list_3.index(4))
#print(list_3.count(1))
list_3 = [1, 1, 3, 4]
list_3.sort()
print(list_3)

list_3 =  list_3.sort()
print(list_3)

[1, 1, 3, 4]
None

In [ ]:
tuple_1 = (1 ,21 , 2)
tuple_1[0]
list = tuple_1
print(tuple_1)

(1, 21, 2)

In [ ]:
set_1= {1,2,22,5,55}
set_2={5,55,22,21,1}
set.difference

In [97]:
dict_1= {"key":1,"key2":"mo"}
dict_1["key"]=50


print(dict_1)

{'key': 50, 'key2': 'mo'}

In [104]:
num= int(input("enter num"))
num2=int(input("enter num"))
sum=num+num2
sub= num-num2
mlt=num*num2
div=num/num2



print(sum )
print(sub )
print(mlt )
print(div )
print(sum )

4
0
4
1.0
4

In [106]:
x=20
y=5

r=(x+True) / (4-y*False)
print(r)

5.25

In [112]:
a=200
s=200
if a < s:
    print("a")
elif a==s : 
     print("dd")
         
else:

     print("s")

dd

In [114]:
x = 5
y = -15
if x > 0 and y > 0 :
    print("+")
else :
    print("-")

-

In [116]:
x = 5 
r ="even " if x % 2 == 0 else "ood"
print(r)

ood

In [118]:
s=12
c=564
r=s+c if s>c else s-c 
print(r)

-552

In [121]:
age = 10
agee= "kbear" if age >= 10 else "ddd"

In [126]:
degree=int(input("enter your"))

if 0 < degree <= 100:
   if 90 <degree<= 100:
    print("A")

   elif 70 <degree<= 90:
    print("b")

   elif 60 <degree<= 70:
    print("c")
   elif  degree< 60:
    print("f")
else :
    print("non")

non

In [133]:
for i in range(5):
    print("mm")
else :
    print("as")

mm
mm
mm
mm
mm
as

In [140]:
for i in range(6):
    if i == 3:
        continue
    print(i)

0
1
2
4
5

In [141]:
for i in range(6):
    if i == 3:
        break
    print(i)

0
1
2

In [ ]:
num1 = int(input("enter your num"))
num2 = int(input("enter your num"))
opp = input("enter your opration sum  mlt div all")

if opp == "sum" :
    sum = num1 +  num2 
    print(sum)
elif  opp == "mlt" :
    mlt= num1 *  num2 
    print(mlt)
elif  opp == "div" :
    div= num1 /  num2 
    print(div)   
elif  opp == "all" :
    mlt= num1 *  num2 
    div= num1 /  num2 
    sum = num1 +  num2 


    print(f"sum  = { sum } mlt = { mlt } div = { div }")

sum  = 10 mlt = 25 div = 1.0

: