In [12]:
import pandas as pd

In [15]:
import pandas as pd


df = pd.DataFrame({
    "Name": ["Ahmed", "Sara", "Mona"],
    "Age": [25, 30, 22]
})

print(df)

    Name  Age
0  Ahmed   25
1   Sara   30
2   Mona   22

In [16]:
print(pd.__version__)

2.3.3

In [63]:
data = [1001,200,24521,552,4,54,6]
series = pd.Series(data,index=['a','b','c','f','g','h','j'])
#series.loc['c']= 52
print(series[series <= 200])

b    200
g      4
h     54
j      6
dtype: int64

In [16]:
df = pd.read_csv("test.csv")
df.tail()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
35,36,KHOA TRINH,ELECTRONIC MAINTENANCE TECHNICIAN,101953.20,139102.95,16483.94,NaN,257540.09,257540.09,2011
36,37,SUSAN CURRIN,"ADMINISTRATOR, SFGH MEDICAL CENTER",245124.44,0.00,12000.00,NaN,257124.44,257124.44,2011
37,38,JAMES BOSCH,"INSPECTOR III, (POLICE DEPARTMENT)",110661.20,31162.04,111446.20,NaN,253269.44,253269.44,2011
38,39,JONES WONG,LIEUTENANT III (POLICE DEPARTMENT),132202.26,52648.92,67083.83,NaN,251935.01,251935.01,2011
39,40,BRENDAN WARD,"BATTALION CHIEF, (FIRE DEPARTMENT)",147158.85,64985.85,39540.46,NaN,251685.16,251685.16,2011