In [71]:
class Student :
    _id_counter = 1
    def __init__(self, name):
        if not name :
            raise ValueError("name cannot br empty")
        self.student_id = Student._id_counter
        Student._id_counter += 1
        self.name = name
        self.grades = {}
        self.enrolled_courses = []

    def __str__(self):
        return f"student id : {self.student_id } name : {self.name} grades: {self.grades}"     
    def __repr__(self):
        return f"student id : {self.student_id } name : {self.name} grades: {self.grades}"
    def add_grade(self,course_id,grade) :

        if not 0 <=grade<=100 :
            raise ValueError("grads must be 0 to 100")
        self.grades[course_id] = grade   

    def enroll_in_course(self , course ) :
        self.enrolled_courses.append(course)

In [60]:
s1

student id : 1 name : ail2 grades: {1: 90}

In [ ]:
name = input("enter your name")
def add_student(name) :

  s1 = Student(name)
  
  return s1

In [44]:
name = input("enter your name")

add_student(name)

student id : 2 name : mohamed grades: {}

In [77]:
class Course:
    _id_counter = 1

    def __init__(self, name):
        if not name:
            raise ValueError("course name cannot be empty")

        self.course_id = Course._id_counter
        Course._id_counter += 1

        self.name = name
        self.enroll_student=[]
       
    def __str__(self):
        return f"course id: {self.course_id} name: {self.name} Enrolled: {len(self.enroll_student)}"

    def __repr__(self):
        return f"course id: {self.course_id} name: {self.name}"

    def enroll_student(self, student):
        if student not in self.enroll_student:
            self.enroll_student.append(student)
            print(f"Student{student} enrolled in {self.name}")
        else : 
            print(f"student is olready in{self.name} ")    

    def add_grade(self, student, grade):
        if not 0 <= grade <= 100:
            raise ValueError("grade must be between 0 and 100")

        if student not in self.students:
            raise ValueError("student not enrolled in this course")

        self.grades[student.student_id] = grade
        student.add_grade(self.course_id, grade)

In [78]:
c1=Course("ml")
c1.enroll_student("mohamed")

TypeError: 'list' object is not callable

In [82]:
class Course:
    _id_counter = 1

    def __init__(self, name):
        if not name:
            raise ValueError("course name cannot be empty")

        self.course_id = Course._id_counter
        Course._id_counter += 1

        self.name = name
        self.students = []
        self.grades = {}

    def __str__(self):
        return f"course id: {self.course_id} name: {self.name} Enrolled: {len(self.students)}"

    def __repr__(self):
        return f"course id: {self.course_id} name: {self.name} Enrolled: {len(self.students)}"

    def enroll_student(self, student):
        if student not in self.students:
            self.students.append(student)
            print(f"Student {student.name} enrolled in {self.name}")
        else:
            print(f"Student already enrolled in {self.name}")

    def add_grade(self, student, grade):
        if not 0 <= grade <= 100:
            raise ValueError("grade must be between 0 and 100")

        if student not in self.students:
            raise ValueError("student not enrolled in this course")

        self.grades[student.student_id] = grade
        student.add_grade(self.course_id, grade)

In [83]:
s1 = Student("mohamed")
c1 = Course("ml")

c1.enroll_student(s1)

Student mohamed enrolled in ml