In [ ]:
class Student:
    _id_counter = 1
    
    def __init__(self, name):
        if not name:
            raise ValueError("Name cannot be empty")
        self.student_id = Student._id_counter
        Student._id_counter += 1
        self.name = name
        self.grades = {}
        self.enrolled_courses = []
    
    def __str__(self):
        return f"Student ID: {self.student_id}, Name: {self.name}, Grades: {self.grades}"
    
    def __repr__(self):
        return f"Student({self.student_id}, '{self.name}')"
    
    def enroll_in_course(self, course):
        """Enrolls student in a course."""
        if course in self.enrolled_courses:
            raise ValueError(f"Already enrolled in {course}")
        self.enrolled_courses.append(course)
    
    def add_grade(self, course_id, grade):
        """
        Adds or updates a grade for a specific course.
        
        Args:
            course_id: The unique identifier of the course
            grade: The grade obtained (0-100)
        """
        if course_id not in self.enrolled_courses:
            raise ValueError(f"Not enrolled in course {course_id}")
        if not 0 <= grade <= 100:
            raise ValueError("Grade must be between 0 and 100")
        self.grades[course_id] = grade

In [ ]:
class Course   :
    _id_counter = 1
    def __init__(self ,  name):
        self.course_id = Course._id_counter
        Course._id_counter += 1
        self.name =name
        self.enrolled_students = []
    def __str__(self):
          
          return f'course id : {self.course_id}  name: {self.name}  enrolled {len(self.enrolled_students)}'


    def enroll_student (self ,  student):
        """
        Enrolls a student in the course
        """

        if  student   not in self.enrolled_students :
                   self.enrolled_students .append(student)
                   print(f" enrolled succflly: in {self.name}")
        else :      
              print(f"is enrolled in {self.name}") 

    def   remove_student(self , student) :
          """
            Removes a student from the course.
            
          """
          if student in self.enrolled_students :
                self.enrolled_students.remove(student)
                print(f"Student removed from{self.name} ")
          else :
                print (f"Student is enrolled in {self.name}")

In [87]:
from student import Student
class SystemManager :
    def __init__(self):
       self.students = {}
       self.courses = {}

    def add_student(self , name ):
        """ 
        Add a new student to the system.

        """

        student = Student(name)
        if student.student_id not in self.students :
            self.students[student.student_id] = student
            print("student added")
            return student.student_id
        else :
            print("student is here")    

    def remove_student(self, student_id):
        """
        Remove a student from the system and all enrolled courses.
        """
        if student_id not in self.students:
            print("invalid student id")
            return

        student = self.students[student_id]

        for course in list(student.enrolled_courses):
            course.remove_student(student)

        del self.students[student_id]
        print("student removed successfully")

In [89]:
manager = SystemManager()

s1 = manager.add_student("Ahmed")


manager.remove_student(s1)

student added
student removed successfully

In [81]:

s1 = Student("mohamed")
c1 = Course("mmdas")
c1.enroll_student(s1)

 enrolled succflly: in mmdas

In [82]:
str(c1)

'course id : 1  name: mmdas  enrolled 1'

In [63]:
c1 = Course("mm")
c1.course_id

5

In [29]:
s1 = Student("mohamed")
s1.add_grade(1,90)

In [30]:
s1

student id: 1 name: mohamed grades:{1: 90}

In [71]:
class Student :
    _id_counter = 1
    def __init__(self, name):
        if not name :
            raise ValueError("name cannot br empty")
        self.student_id = Student._id_counter
        Student._id_counter += 1
        self.name = name
        self.grades = {}
        self.enrolled_courses = []

    def __str__(self):
        return f"student id : {self.student_id } name : {self.name} grades: {self.grades}"     
    def __repr__(self):
        return f"student id : {self.student_id } name : {self.name} grades: {self.grades}"
    def add_grade(self,course_id,grade) :

        if not 0 <=grade<=100 :
            raise ValueError("grads must be 0 to 100")
        self.grades[course_id] = grade   

    def enroll_in_course(self , course ) :
        self.enrolled_courses.append(course)

In [60]:
s1

student id : 1 name : ail2 grades: {1: 90}

In [ ]:
name = input("enter your name")
def add_student(name) :

  s1 = Student(name)
  
  return s1

In [44]:
name = input("enter your name")

add_student(name)

student id : 2 name : mohamed grades: {}

In [77]:
class Course:
    _id_counter = 1

    def __init__(self, name):
        if not name:
            raise ValueError("course name cannot be empty")

        self.course_id = Course._id_counter
        Course._id_counter += 1

        self.name = name
        self.enroll_student=[]
       
    def __str__(self):
        return f"course id: {self.course_id} name: {self.name} Enrolled: {len(self.enroll_student)}"

    def __repr__(self):
        return f"course id: {self.course_id} name: {self.name}"

    def enroll_student(self, student):
        if student not in self.enroll_student:
            self.enroll_student.append(student)
            print(f"Student{student} enrolled in {self.name}")
        else : 
            print(f"student is olready in{self.name} ")    

    def add_grade(self, student, grade):
        if not 0 <= grade <= 100:
            raise ValueError("grade must be between 0 and 100")

        if student not in self.students:
            raise ValueError("student not enrolled in this course")

        self.grades[student.student_id] = grade
        student.add_grade(self.course_id, grade)

In [78]:
c1=Course("ml")
c1.enroll_student("mohamed")

TypeError: 'list' object is not callable

In [82]:
class Course:
    _id_counter = 1

    def __init__(self, name):
        if not name:
            raise ValueError("course name cannot be empty")

        self.course_id = Course._id_counter
        Course._id_counter += 1

        self.name = name
        self.students = []
        self.grades = {}

    def __str__(self):
        return f"course id: {self.course_id} name: {self.name} Enrolled: {len(self.students)}"

    def __repr__(self):
        return f"course id: {self.course_id} name: {self.name} Enrolled: {len(self.students)}"

    def enroll_student(self, student):
        if student not in self.students:
            self.students.append(student)
            print(f"Student {student.name} enrolled in {self.name}")
        else:
            print(f"Student already enrolled in {self.name}")

    def add_grade(self, student, grade):
        if not 0 <= grade <= 100:
            raise ValueError("grade must be between 0 and 100")

        if student not in self.students:
            raise ValueError("student not enrolled in this course")

        self.grades[student.student_id] = grade
        student.add_grade(self.course_id, grade)

In [83]:
s1 = Student("mohamed")
c1 = Course("ml")

c1.enroll_student(s1)

Student mohamed enrolled in ml