In [ ]:
x = 45
a = 56
s = a+x

print(s)

101

In [ ]:
x = 4
print ('wallcom into debi',x)

wallcom into debi 4

In [14]:
x = 55
print( type(x))

<class 'int'>

In [ ]:
name = 'mohamed hany'
age = 56
print(name,age)

mohamed hany 56

In [35]:

name="mohamed hany"
course_name="ml"
course_id="mlG3"
print(f"my name is {name} and my cours is {course_id} and my id is {course_id}  ")

my name is mohamed hany and my cours is mlG3 and my id is mlG3

In [57]:
name = "mohamed hany  hany "
print(name.capitalize())
print(name.title())


name_upper=print(name.upper())
name_lower=print(name.lower())
name_replace=print(name.replace("hany","hamed"))

Mohamed hany  hany
Mohamed Hany  Hany
MOHAMED HANY  HANY
mohamed hany  hany
mohamed hamed  hamed

In [68]:
name = "mohamed hany   khalf kandeel "
name_split=name.split()
print(name.count("a"))
print(name.split())
sant= ' ' .join((name_split))

4
['mohamed', 'hany', 'khalf', 'kandeel']